@import url('https://fonts.googleapis.com/css?family=Arimo|Muli|Nunito+Sans&display=swap');
.art {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 92vh;
    background-color: #eff4fc;
    box-shadow:3px 3px 5px #b1c7f1
}
.grid-container {
    position: relative;
    top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 580px 380px 380px;
    grid-template-rows: 330px 310px;
    grid-gap: 20px;
    margin: auto;
    
}
.contact_info {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: auto;
    min-height: 620px;
    background-color: #ffffff;
border-radius: 3px;
border: solid .4px lightcyan;
padding: 15px;
}
.contact_info {
    font-family: muli, sans-serif;
    h2 {
        font-weight: bold;
        font-size: 20px;
        font-variant: small-caps;
    }
    ul {
        font-size: 14px;
        text-align: center;
        color: #545454;
    
    li {
        margin: 35px 0;
    }
    }
}

.side {
    background-color: #ffffff;
    border-radius: 3px;
    border: solid .4px lightcyan;
    padding: 15px;

}
.side_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.side_2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    text-align: right;
    padding: 30px;
    p {
        display:inline-block;
        font-family: muli, sans-serif;
        font-size: 13px;
        width: 60%;
        text-align: right;
    }
}
@media (max-width: 1450px) {
    .grid-container {
        grid-template-columns: 380px 
    }
    .side_2 {
        p {
            width: 90%;
        }
    }
}
@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 380px 380px;
        grid-template-rows: 330px 330px 330px;
    }
    .contact_info {
        grid-column: 1 / 2;
        grid-row: 1 / 3
        
    }
    .side_2 {
        grid-column: 2/3;
        grid-row: 1 / 3;
    }
    .side_1 {
        grid-column: 1/3;
        grid-row: 3 / 4;
    }
}
@media (max-width: 900px) {
    .grid-container {
        margin: auto;
        padding-left: 20px;
        grid-template-columns: 420px;
        grid-template-rows: 330px 330px 330px 330px 330px;
    }
    .contact_info {grid-column: 1 / 3;
    grid-row: 1 / 3;
margin: 50px auto;}
    .side_2 {
        grid-column: 1/2;
        grid-row: 3 / 5;
    }
    .side_1 {
        grid-column: 1/2;
        grid-row: 5 / 6;
    }
}
@media (max-width: 520px) {
    .grid-container {width:100%;padding-left: 0px;
        word-break: break-all;
    grid-template-columns: 300px;}
    .contact_info {
        
        h2 {
            text-align: center;
        }
    }
}