.topBar {
    position: relative;
    min-width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
.indicator {
    position: absolute;
    left: 70px;
 display: flex;
 flex-direction:row;
 height: 100%;
align-items: center;
margin: auto;
text-transform: uppercase;
font-variant: small-caps;
}
.indicator img {
    margin: auto 10px;
    width: 30px;
    height: 30px;
}
.target {
    color: #d0cdcd;
    font-weight: 200;
font-size: 25px;
}
.spot {
    color: #2eb7e5;
    min-height: 60px;
    border-bottom: solid 3px #2eb7e5;
    display:flex;
    align-items: center;
    justify-self: flex-start;
 margin-left: 10px;
 
}
.spot h2 {
 font-weight: 400;
 font-size: 25px;
}
#user {
    width: 40px;
    height: 40px;
}
.user {position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    justify-self: right ;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #7b8183;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
}
.user:hover h3 {
    color: #2eb7e5
}
.user i {
    color: #2eb7e5;
    margin-left: 7px;
}
.user h3 {
    font-size: 13px;
    margin-left: 7px;
}

@media (max-width: 620px) {
    .topBar {flex-direction: column}
    .indicator {
        position: relative;
margin: auto;
left: 0;
    }
    .user {position: relative;
        z-index: 1;
margin: 10px auto;
justify-self: center;
        width: 100%;
        flex-direction: column;
    }
    .user i {
        color: #7b8183;
        margin-left: 0;
    }
    .user h3 {display:none;
    margin-left: 0;}
}
@media (max-width: 450px) {
    .target, .spot h2 {
        font-size: 15px
    }
}