@import url('https://fonts.googleapis.com/css?family=Arimo|Muli|Nunito+Sans&display=swap');

.structure_2 {
    width: 100%;
    height: auto;
    min-height: 92vh;
    background-color: #eff4fc;
    box-shadow:3px 3px 5px #b1c7f1
}
.content_wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content_wrapper_1 {
    width: 600px;
    height: auto;
    min-height: 620px;
    margin: 20px 0 0 40px;
    background-color: #ffffff;
border-radius: 3px;
border: solid .4px lightcyan;
padding: 15px;
}
.content_wrapper_1 {
    font-family: muli, sans-serif;
    h2 {
        font-weight: bold;
        font-size: 20px;
        font-variant: small-caps;
    }
    ul {
        font-size: 14px;
        text-align: center;
        color: #545454;
    
    li {
        margin: 35px 0;
    }
    }
}
.content_wrapper_2 {
    width: 700px;
@extend .content_wrapper_1

}
.content_wrapper_2 {
    ul {
        width: 50%;
        height: 100%;
        word-break: break-all;
    }
    ul:first-of-type {
        border-right: solid .6px lightgray
    }
}
.divider {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 20px;
}
ul {list-style: none;}
@media (max-width: 1150px) {
    .content_wrapper {
        flex-direction: column;
    }
}
@media (max-width: 830px) {
    .content_wrapper_2 {
        width: 500px;
        ul {
            width: auto;
        }
        ul:first-of-type {border-right: none;}
    }
    .divider {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .content_wrapper_1 {
        width: 350px;
    }
}

@media (max-width: 620px) {

    .content_wrapper_1 {
        width: 300px;
        margin-top: 70px;
    }
}